.movinganimation {
    overflow: hidden;
    width: 200%;
    animation: shape 10s ease-in-out 0s infinite;
}

@keyframes shape {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0px);
    }
}
  