/* #movinganimation {
    overflow: hidden;
    width: 200%;
    animation: shape 3s linear 3s infinite;
}

@keyframes shape {
    0%{transform: translate(0%);}
    50%{transform: translate(50%);}
    100%{transform: translate(100%);}
  }
   */